* {
	cursor: url(https://img.itch.zone/aW1nLzEyMTMyMjg4LnBuZw==/original/Nmz0vu.png),
		auto;
}

.custom-list__items li {
	margin: 0;
	padding: 15px 0 15px 40px;
	list-style: none;
	background-image: url("https://img.itch.zone/aW1nLzEyMTM5MTQ2LnBuZw==/original/wyChG8.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}

.custom-animations-details__item p {
	font-style: italic;
}

.custom-animations-details__info {
	font-style: italic;
}

.custom-animations--tall {
	display: flex;
	justify-content: center;
	gap: 50px;
	margin: 50px 0 55px;
}

.custom-licence-info__rules {
	margin: 20px 0;
	display: flex;
	align-items: center;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	padding: 0 25px;
}

.custom-licence-info__rules.custom-licence-info__rules--green {
	background: #198754;
	opacity: 0.8;
}
.custom-licence-info__rules.custom-licence-info__rules--red {
	background: #dc3545;
	opacity: 0.8;
}

.custom-licence-info__rules li {
	list-style-type: none;
}

.custom-pack-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.custom-pack-cards__card {
	position: relative; /* Définir une position relative pour le conteneur */
	z-index: 0;
}

.custom-pack-cards__card img {
	width: 286px;
	height: 300;
	border-radius: 5px;
	position: relative;
	z-index: 2;
}

.custom-pack-cards__card img:hover {
	animation: shake-horizontal 0.4s ease-in-out infinite;
	opacity: 0.5;
	z-index: 1;
}

/* .custom-pack-cards__card {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
} */
/* .custom-pack-cards__card button {
	width: calc(286px / 2);
	color: white;
	font-weight: bold;
	padding: 10px;
	margin: 10px 0;
	background-color: black;
	border: 2px solid black;
	border-radius: 5px;
	transition: background-color ease-in-out 250ms;
}
.custom-pack-cards__card button:hover {
	background-color: white;
	color: black;
}

.custom-pack-cards__card button:hover + img {
	animation: shake-horizontal 0.4s ease-in-out;
} */

@keyframes shake-horizontal {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-2.5px);
	}
	50% {
		transform: translateX(2.5px);
	}
	75% {
		transform: translateX(-2.5px);
	}
	100% {
		transform: translateX(0);
	}
}

hr {
	border: none;
	border-top: 3px double #333;
	color: #333;
	overflow: visible;
	text-align: center;
	height: 5px;
}

hr:after {
	background: #fff;
	border-radius: 50%;
	content: "§";
	padding: 0 4px;
	position: relative;
	top: -13px;
}

.custom-hr.custom-hr--chest:after {
	content: url("./assets/icons/chest-icon.png");
	top: calc(-46px / 2);
}
.custom-hr.custom-hr--heath:after {
	content: url("./assets/icons/hearth-icon.png");
	top: calc(-46px / 2);
}
.custom-hr.custom-hr--cauldron:after {
	content: url("./assets/icons/cauldron-icon.png");
	top: calc(-56px / 2);
}
.custom-hr.custom-hr--parchment:after {
	content: url("./assets/icons/parchment-icon.png");
	top: calc(-46px / 2);
}
